streamlit

google-genai
langchain
langchain-community
langchain-huggingface
langchain-text-splitters

chromadb
sentence-transformers
torch
torchvision
pydantic==1.10.15
sentencepiece

pypdf

psycopg2-binary